/* BASE STYLES */
* { border-radius: 0 !important; }
body { background-color: #336699; }

/* NAVIGATION STYLES */
.navbar-default .navbar-brand a:link { color: #c0c0c0;}

/* MAIN CONTENT STYLES */
#profile-pic { 
	float: left; 
	margin-right: 15px;
}
.jumbotron h3 {	font-size: 3em; }

@media (max-width: 767px){
	#profile-pic {
		float:none;
		margin: auto;
	}
	.jumbotron p {
		clear: left;
	}
}

