* {
    margin: 0px;
    padding: 0px;
    font-family: "Georgia", "sans-serif";
}

body {
    background-color: #C5C1C0;
}

header h1 {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    text-align: center;
}

nav {
    background-color: #1A2930;
}

nav ul {
    list-style-type: none;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
}

nav a:hover {
    background-color: #F7CE3E;
    color: black;
}

nav li {
    float: left;
}

main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main a {
    text-decoration: none;
    color: #1A2930;
}

main h2 {
    padding: 20px 0px;
}

main h3 {
    padding: 10px 0px 10px 0px;
}

main h3:first-of-type {
    padding: 0px 0px 10px 0px;
}

main ul {
    padding-left: 25px;
}

main ul li {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #1A2930;
}

main p {
    text-align: justify;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #1A2930;
}

main hr {
    margin-top: 20px;
}
